/* Borderlands 2 style 3D border effect */
.borderlands-3d {
  box-shadow: 4px 4px 0 0 #ffe285, 7px 7px 0 0 #483d11;
  border-radius: 1rem;
}
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ede8d7;
  }
}

body {
  background: var(--background);
}

/* Custom Tailwind height utilities above h-96 */
.h-112 {
  height: 28rem;
}
.h-128 {
  height: 32rem;
}
.h-144 {
  height: 36rem;
}
.h-160 {
  height: 40rem;
}
.h-192 {
  height: 48rem;
}
.h-256 {
  height: 64rem;
}
