@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .invisible-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  .invisible-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none; /* Chrome, Safari, Opera */
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ede8d7;
  }
}

body {
  background: var(--background);
}

.h-112 {
  height: 28rem;
}
.h-128 {
  height: 32rem;
}
.h-144 {
  height: 36rem;
}
.h-160 {
  height: 40rem;
}
.h-192 {
  height: 48rem;
}
.h-256 {
  height: 64rem;
}
.text-10xl {
  font-size: 10rem; /* 160px */
  line-height: 1;
}

.text-11xl {
  font-size: 12rem; /* 192px */
  line-height: 1;
}

.text-12xl {
  font-size: 14rem; /* 224px */
  line-height: 1;
}

.text-13xl {
  font-size: 16rem; /* 256px */
  line-height: 1;
}

.text-14xl {
  font-size: 18rem; /* 288px */
  line-height: 1;
}

.text-15xl {
  font-size: 20rem; /* 320px */
  line-height: 1;
}
.tracking-tightest {
  letter-spacing: -0.085em;
}

.tracking-tightery {
  letter-spacing: -0.06em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: 0.8s;
}
.animate-fadeIn-h2 {
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes fadeInImg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-fadeIn-img {
  animation: fadeInImg 0.4s ease-in-out forwards;
  animation-delay: 1.3s;
}
@keyframes fadeInCurr {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate-fadeInCurr {
  animation: fadeInCurr 0.7s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes divGrow {
  0% {
    width: 0vw;
    height: 33rem;
  }
  100% {
    width: 100vw;
    height: 33rem;
  }
}

@keyframes divGrowPhone {
  0% {
    width: 0px;
    height: 19rem;
  }
  100% {
    width: 100vw;
    height: 19rem;
  }
}

@keyframes divGrowTab {
  0% {
    width: 0px;
    height: 26rem;
  }
  100% {
    width: 100vw;
    height: 26rem;
  }
}

.animate-divGrow {
  animation: divGrowPhone 0.4s ease-in forwards;
  animation-delay: 0.5s;
}

@media (min-width: 768px) {
  .animate-divGrow {
    animation: divGrowTab 0.6s ease-in-out forwards;
    animation-delay: 0.5s;
  }
}

@media (min-width: 1280px) {
  .animate-divGrow {
    animation: divGrow 0.6s ease-in-out forwards;
    animation-delay: 0.5s;
  }
}
